body {
	text-align: center;
	margin: 0 20px;
}

h1 {
	font-family: Nunito;
	font-size: 50px;
}

.main-product {
	height: 350px;
	width: 20%;
	border: 5px solid red;
	display: inline-block;
}

.thumb-product {
	height: 70px;
	border: 1px solid black;
	display: inline-block;
}

.thumb-image {
	height: 120px;
	margin: 2px 2px;
	cursor: pointer;
	background-color: #000000;
	opacity: 0.7;
}

.western:hover {
	background-color: #CB1744;
	opacity: 1;
	transition: background-color 3s;
	transition: opacity 0.8s;
}

.eastern:hover {
	background-color: #005FA8;
	opacity: 1;
	transition: background-color 3s;
	transition: opacity 0.8s;
}